<template name="home">
  <div class="template-home">
    <div class="page-header">
      <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around">
        <h1>I want to go to</h1>
        <input placeholder="..." type="text" id="destination">
      </div>
    </div>
    <div style="width: 100%; height: 480px" class="map-container"></div>
    {{#if location}}
    <div class="page-footer" style="display: flex; justify-content: center; align-items: center">
        <a class="btn-floating btn-large waves-effect waves-light cyan"><i class="material-icons">done</i></a>
    </div>
    {{/if}}
  </div>
</template>
