<template name="home">
    <div class="template-home">

        <div class="page-header">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around">
                <h3>I want to go to...</h3>
                <input placeholder="Berghain" type="text" id="destination">
            </div>
        </div>
        <!--<div style="width: 100%; height: 480px" class="map-container"></div>-->

        <div class="map-container" style="width: 80vw; height: 480px">
        </div>
        {{#if location}}
            <div style="display: flex; justify-content: center; align-items: center">
                <a class="btn-floating btn-large waves-effect waves-light cyan submit-location"><i
                        class="material-icons">thumb_up</i></a>
            </div>
        {{/if}}
    </div>
</template>
