<template name="chat">
  {{#if Template.subscriptionsReady}}
    <div class="template-chat">
      <div class="page-header">
        <h1>Chat</h1>
      </div>
      <div class="conversation-container">
        <ol class="conversation">
          {{#each groupedMessages}}
            {{> chat_message_group}}
          {{/each}}
        </ol>
      </div>

      {{!--
      <ul>
        {{#each users}}
          <li>{{ name }}</li>
        {{/each}}
      </ul>

      <ul>
        {{#each messages}}
          <li>{{ text }}</li>
        {{/each}}
      </ul>
      --}}

      {{> chat_entry }}
    </div>
  {{/if}}
</template>

<template name="chat_message_group">
  <li class="{{ type }}">
  {{!--
    {{#if incoming}}
      <div class="face-outer">
        <div class="face"></div>
      </div>
    {{/if}}
  --}}
    <ol class="message-group">
      {{#each messages}}
        {{>chat_message}}
      {{/each}}
    </ol>
  </li>
</template>

<template name="chat_message">
  <li>
    <span class="message">
      <span class="message-inner">
       {{ text }}
      </span>
    </span>
  </li>
</template>

<template name="chat_entry">
  <form class="chat-form">
    <input type="text" name="message" autocomplete="off"/>
    <input type="submit" value="Chat"/>
  </form>
</template>
