<template name="chat">
  {{#if Template.subscriptionsReady}}
    {{#if hasPendingRequest}}
      {{#with ride}}
        {{> pending_request }}
      {{/with}}
    {{/if}}
    <div class="row">

      <div class="template-chat">
        <div class="page-header">
          <h1>Chat</h1>
        </div>
        <div class="conversation-container">
          <ol class="conversation">
            {{#each groupedMessages}}
              {{> chat_message_group}}
            {{/each}}
          </ol>
        </div>
        {{> chat_entry }}
      </div>
    </div>
  {{/if}}
</template>

<template name="pending_request">
<div id="request-modal" class="modal">
  <div class="modal-content">
    <h4>Incoming Request!</h4>
    <img src="{{ userPhoto }}" style="max-width:300px; max-height: 300px;">
    <span>
      {{ userName }} wants to join this ride!
    </span>
  </div>
  <div class="modal-footer">
    <form>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn accept-request">Accept</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat reject-request">Reject</a>
      {{!--
      <button class="btn waves-effect waves-light" type="submit" name="accept">Accept</button>
      <button class="btn waves-effect waves-light" type="submit" name="reject">Reject</button>
      --}}
    </form>
  </div>
</div>
</template>

<template name="chat_message_group">
  <li class="{{ type }}">
    {{#if incoming}}
      <span class="chat-name">{{ name }}</span>
    {{/if}}
    <ol class="message-group">
      {{#each messages}}
        {{>chat_message}}
      {{/each}}
    </ol>
  </li>
</template>

<template name="chat_message">
  <li>
    <span class="message">
      <span class="message-inner">
       {{ text }}
      </span>
    </span>
  </li>
</template>

<template name="chat_entry">
  <form class="chat-form">
    <div class="row">
      <div class="input-field col s10">
        <input type="text" name="message" autocomplete="off"/>
      </div>
      <div class="input-field col s2">
        <button class="btn waves-effect waves-light" type="submit" name="action">Send
          <i class="material-icons right">Send</i>
        </button>
      </div>
    </div>
  </form>
</template>
