<template name="chat">
  <div class="template-chat">
    <div class="page-header">
      <h1>Chat</h1>
    </div>

    <ul>
      {{#each users}}
        <li>{{ name }}</li>
      {{/each}}
    </ul>

    <ul>
      {{#each messages}}
        <li>{{ text }}</li>
      {{/each}}
    </ul>

    {{> chat_entry }}
  </div>
</template>

<template name="chat_entry">
  <form class="chat-form">
    <input type="text" name="message" autocomplete="off"/>
    <input type="submit" value="Chat"/>
  </form>
</template>
