<template name="signup">
    <div class="template-signup">
        <div class="page-header">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around">
                <h3>
                    Pose for a selfie 😉
                </h3>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-around">
            <form class="signup-form">
                <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around">
                    <h4>My name is </h4>
                    <input name="username" type="text"
                       placeholder="Slim Shady" required autocomplete="off">
                </div>
                <input type="file" name="file" id="file" accept="image/*;capture=camera"
                       style="width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;"
                       required onchange="previewFile()">
                <div style="display: flex; align-items: center; justify-content: center">
                    <img class="img-preview" src="/images/femuser.png" height="200" alt="Image preview...">
                </div>
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                    <label class="icon" for="file">
                        <i class="fa fa-camera fa-3x" aria-hidden="true"></i>
                    </label>
                    <button class="btn-floating btn-large waves-effect waves-light cyan submit-signup"><i class="material-icons">thumb_up</i></button>
                </div>
            </form>
        </div>
    </div>
</template>
